
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Rajdhani&display=swap');
html {
    /* anytime you add padding to any element, the padding will stretch the page */
    box-sizing: border-box;
}

body{
    margin: 0;
    min-height: 100vh;
    font-family: 'Rajdhani', sans-serif;
    background: whitesmoke;
}
h1{
     text-align: center;
     margin-top: 25px;
     margin-bottom: 15px;
     font-size: 40px;
     letter-spacing: 5px;
}

/* LOADER */
.loader{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255,255,255, 0.8);
}
.loader img{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* img container */
.image-container{
    margin: 10px 30%;
    margin-top: 5px;
}
.image-container img{
    width: 100%;
}
.image-description{
     text-align: center;
}

/* media query for larger phones */

@media screen  and (max-width: 600px) {
    h1{
        font-size:20px;
    }
    .image-container{
        margin: 10px;
    }
}